:root {
  --max-width: 1500px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --base-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  --hover-shadow: 3px 7px 15px rgba(0, 0, 0, 0.1),
    -1px 3px 25px rgba(0, 0, 0, 0.1);
  --cyan900: #0a2129;
  --cyan800: #154251;
  --cyan700: #1f637a;
  --cyan600: #2984a3;
  --cyan500: #34a5cb;
  --cyan400: #5cb7d6;
  --cyan300: #85c9e0;
  --cyan200: #aedbea;
  --cyan100: #d6edf5;
  --cyan50: #ebf6fa;
  --green900: #18260d;
  --green800: #304c1a;
  --green700: #487227;
  --green600: #609834;
  --green500: #79bf42;
  --green400: #93cb67;
  --green300: #aed88d;
  --green200: #c9e5b3;
  --green100: #e4f2d9;
  --green50: #f1f9ec;
  --yellow900: #302303;
  --yellow800: #5f4707;
  --yellow700: #8f6a0a;
  --yellow600: #bf8e0d;
  --yellow500: #efb212;
  --yellow400: #f2c140;
  --yellow300: #f5d070;
  --yellow200: #f8e0a0;
  --yellow100: #fcefcf;
  --yellow50: #fdf7e7;
  --red900: #260d11;
  --red800: #4d1922;
  --red700: #732634;
  --red600: #9a3245;
  --red500: #c03f56;
  --red400: #cd6578;
  --red300: #d98c9a;
  --red200: #e6b2bb;
  --red100: #f2d9dd;
  --red50: #f9ecee;
  --coolGray900: #17181C;
  --coolGray800: #2D2F39;
  --coolGray700: #444755;
  --coolGray600: #5A5E72;
  --coolGray500: #71768E;
  --coolGray400: #8D91A5;
  --coolGray300: #AAADBB;
  --coolGray200: #C6C8D2;
  --coolGray100: #E3E4E8;
  --coolGray50: #F1F1F4;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  position: relative;
  padding: 0 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: inherit;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  color: var(--coolGray900);
  --body-bg: var(--coolGray50);
  --page-heading-color: var(--cyan700);
  --page-subheading-color: var(--cyan500);
  --section-heading-color: var(--coolGray500);
  --section-heading-bg: rgba(255, 255, 255, 0.6);
  --shownotes-bg: var(--coolGray100);
  --shownotes-border: transparent;
  --timestamp: var(--coolGray200);
  --sad-message-color: var(--yellow600);
  --error-message-color: var(--red600);
  --episode-border: var(--coolGray100);
  --section-border: var(--coolGray200);
  --section-spacing: 9rem;
  --episode-spacing: 3rem;
  --filter-box-bg: #fff;
  --filter-box-border: transparent;
  --filter-label: var(--coolGray800);
  --input-bg: var(--cyan50);
  --search-btn-bg: var(--green500);
  --search-btn-hover-bg: var(--green600);
  --focus-shadow: 0 2px 15px rgba(50, 200, 240, 0.6);
  --error-shadow: 0 2px 15px rgba(200, 50, 50, 0.6);
  --button-bg-colormode: var(--cyan100);
  --button-bg-colormode-border: var(--cyan200);
  --button-bg-colormode-hover: var(--cyan50);
  --colormode-sun: var(--cyan500);
  --colormode-moon: var(--cyan300);
  --text-color: var(--coolGray900);
  --search-match: var(--text-color);
  --search-highlight: var(--cyan100);
  --cancel-action: var(--coolGray900);
  --card-link: var(--cyan700);
  --header-bg: #fff;
  --header-border: transparent;
  background-color: var(--body-bg);
  transition: all .2s;
}
*, * > *, svg * {
  transition: color .2s, background-color .2s, border .2s;
}
body.dark {
  --body-bg: var(--coolGray900);
  --page-heading-color: var(--cyan300);
  --page-subheading-color: var(--cyan500);
  --section-heading-color: var(--coolGray300);
  --section-heading-bg: rgba(60, 60, 60, 0.6);
  --shownotes-bg: var(--coolGray800);
  --shownotes-border: var(--coolGray600);
  --timestamp: var(--coolGray700);
  --sad-message-color: var(--yellow600);
  --error-message-color: var(--red600);
  --episode-border: var(--coolGray700);
  --section-border: var(--coolGray600);
  --section-spacing: 9rem;
  --episode-spacing: 3rem;
  --filter-box-bg: var(--coolGray800);
  --filter-box-border: var(--coolGray600);
  --filter-label: var(--coolGray300);
  --input-bg: var(--cyan800);
  --search-btn-bg: var(--green500);
  --search-btn-hover-bg: var(--green600);
  --focus-shadow: 0 2px 15px rgba(50, 200, 240, 0.6);
  --error-shadow: 0 2px 15px rgba(200, 50, 50, 0.6);
  --button-bg-colormode: var(--cyan700);
  --button-bg-colormode-border: var(--cyan600);
  --button-bg-colormode-hover: var(--cyan600);
  --colormode-sun: var(--yellow300);
  --colormode-moon: var(--yellow500);
  --search-highlight: var(--cyan700);
  --search-match: var(--coolGray100);
  --cancel-action: var(--coolGray200);
  --text-color: var(--coolGray300);
  --card-link: var(--cyan400);
  --header-bg: var(--coolGray800);
  --header-border: var(--coolGray600);


}
a {
  color: inherit;
}
aside {
  position: sticky;
  top: 2rem;
}
h1 {
  margin:0;
  padding:0;
  color: var(--page-heading-color);
  line-height: 1.6;
  font-size: 3.6rem;
  font-weight: 400;
  z-index: 9;
}

h1 span {
  display: block;
  color: var(--page-subheading-color);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .35em;
  font-size: .41em;
}
@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */
}
