.layout {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: var(--max-width);

  main {
    max-width: 1024px;
  }
  section[data-active="false"] {
    display: none;
  }
  section[data-active="true"] {
    display: block;
  }
  section[data-active="true"][data-picks="true"] {
    display: flex;
  }
  section[data-picks="true"] {
    li {
      font-size: 1.6rem;
      font-weight: 500;
    }
    li + li {
      margin-top: 1rem;
    }
    li li {
      margin-top:0;
    }
    a {
      font-weight: 400;
      color: var(--cyan700);
    }
    li p {
      display: inline-block;
    }

    li ul {
      background: transparent;
      margin-top: .5rem;
      margin-bottom: 1rem;
    }
  }
  @media screen and (max-width: 1300px) {
    justify-content: flex-start;
    main {
      max-width: 70rem;
      margin-left: 10rem;
    }
  }
  @media screen and (max-width: 1140px) {
    flex-direction: column;
    align-items: center;
    main {
      margin-left: 0;
      margin-top: 2rem;
    }
  }

}